.AccordeonList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
  max-width: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
