.AccordeonList {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.errorMessage {
	background: #fef2f2;
	border: 1px solid #fecaca;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.loadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
}
