.Tabs {
  margin: 0 0 30px;
}

.header {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 20px;
}

.button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;

  &:hover {
    color: #374151;
  }
}

.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}

.content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
