.ErrorMessage {
  background: #fef2f2;
  border: 1px solid var(--danger-color);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius5);
  color: var(--danger-color);
  margin: var(--spacing-md) 0;
}
