.CategoryLeft {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
}

.categories {
  padding: 0;
  position: relative;
}

.button {
  display: none;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notesContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 0;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

@media all and (max-width: 768px) {
  .CategoryLeft {
    grid-template-columns: 1fr;
  }
  .categoriesLeft {
    display: none;
  }
  .button {
    display: flex;
  }
}
