.SearchAndFilter {
  padding: var(--spacing-md);
  border-radius: var(--radius5);
  border: 2px solid var(--main-color-20);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.searchWrapper {
  position: relative;
}

.searchInput {
  padding-right: 45px;
}

.clearSearchButton {
  border-radius: 100%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.filters {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: flex-end;
  gap: 30px;

  @media all and (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

.clearFiltersButton {
  margin-left: auto;
}

.results {
  margin-top: var(--spacing-md);
  font-style: italic;
  padding-top: var(--spacing-md);
  border-top: 1px solid var(--main-color-10);
  color: var(--gray-color);
  font-weight: 400;

  @media all and (max-width: 1024px) {
    margin-top: 0;
  }
}
