.SimpleCategoryList {
  padding: 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.list.loading {
  opacity: 0.9;
}

.loaderWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyList {
  padding: 10px;
  font-size: 16px;
}

.simpleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 15px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    background: #f9fafb;
  }
}

.simpleItemRef {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dragging {
  opacity: 0.5;
}

.info {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.name {
  font-size: 17px;
  font-weight: 500;
}

.button {
  padding: 8px;
}

.icon {
  width: 14px;
}

.dragHandle {
  cursor: grab;
  color: #6b7280;
  transition: background-color 0.2s;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 30px;

  &:hover {
    background: #859ac3;
    color: #fff;
  }

  &:active {
    cursor: grabbing;
  }
}

.dragHandleIcon {
  width: 20px;
  color: #c1c1c1;
}

.dragHandle:hover .dragHandleIcon {
  color: #fff;
}
