.Heading {
	font-family: inherit;
	line-height: 1.3;
	margin: 0;
	color: #1a202c;

	@media all and (max-width: 768px) {
		line-height: 1;
	}
}

.h1 {
	font-size: 24px;
	font-weight: 700;
}
.h2 {
	font-size: 20px;
	font-weight: 600;
}
.h3 {
	font-size: 18px;
	font-weight: 600;
}
.h4 {
	font-size: 16px;
	font-weight: 600;
}
.h5 {
	font-size: 14px;
	font-weight: 600;
}
.h6 {
	font-size: 12px;
	font-weight: 600;
}

.disabled {
	color: rgba(0, 0, 0, 0.2);
	pointer-events: none;
}

@media (min-width: 768px) {
	.h1 {
		font-size: 32px;
	}
	.h2 {
		font-size: 28px;
	}
	.h3 {
		font-size: 22px;
	}
	.h4 {
		font-size: 18px;
	}
	.h5 {
		font-size: 16px;
	}
	.h6 {
		font-size: 14px;
	}
}

@media (min-width: 1024px) {
	.h1 {
		font-size: 40px;
	}
	.h2 {
		font-size: 32px;
	}
	.h3 {
		font-size: 24px;
	}
	.h4 {
		font-size: 20px;
	}
	.h5 {
		font-size: 18px;
	}
	.h6 {
		font-size: 16px;
	}
}

.error {
	color: #cf6666;
}
