.PostList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter {
  display: flex;
  align-items: stretch;
}

.arrow {
  color: var(--white-color);
  padding: var(--spacing-sm);
  background-color: var(--secondary-color);
  border-radius: 0 var(--radius5) var(--radius5) 0;
  margin-left: -5px;
}
