.ImageUpload {
  padding: 0;
}

.button {
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 40px;
  height: 26px;
  background: none;
  cursor: pointer;
  color: var(--purple-color);
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }
}
