.Header {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
}

.burger {
  border: 2px solid var(--main-dark);
  margin-left: auto;

  @media all and (min-width: 769px) {
    display: none;
  }
  svg {
    width: 22px;
  }
}

.MenuHeader {
  padding: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative;
  max-width: var(--container-max-width);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
}

.link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-sm);
  background-color: var(--main-dark);

  &:hover {
    background-color: var(--main-darker);
  }

  &.active {
    background-color: var(--main-darker);
  }
}

.linkOut {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-sm);
}

@media all and (max-width: 768px) {
  .Header > .MenuHeader {
    display: none;
  }

  .MenuHeader {
    ul {
      flex-direction: column;
      align-items: stretch;
      gap: 1px;
    }
  }

  .link,
  .linkOut {
    border-radius: 0;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
}
