.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdd {
  align-self: flex-start;

  span {
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-left: 10px;
  }
}
