.PostLeft {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  cursor: pointer;
}

.title {
  &::first-letter {
    text-transform: uppercase;
  }
  color: var(--main-color);
}

.arrow {
  color: var(--purple-color);

  @media all and (max-width: 769px) {
    width: 14px;
  }
}

.textWrapper {
  max-width: 100%;
  overflow: hidden;
  padding-top: 1px;
}

.text {
  padding: 0;
}
