.ListRow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #374151;
}

.required {
  font-size: 14px;
  color: #f00;
  font-weight: normal;
}

.note {
  font-size: 14px;
  color: #6b7280;
}
