@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: grid;
  grid-template-rows: minmax(50px, auto) 1fr;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--white-color);
  font-size: var(--font-size-md);
  min-width: 0;
  max-width: 100%;
}

svg {
  width: 10px;
}

.mantine-RichTextEditor-content > div {
  min-height: 300px;
}

/* Стили для подсветки синтаксиса (если используете) */
.prose .hljs-keyword {
  color: #d73a49;
}
.prose .hljs-string {
  color: #528fd5;
}
.prose .hljs-function {
  color: #5b34a5;
}
.prose .hljs-comment {
  color: #6a737d;
}

.prose .hljs-attr {
  color: #4287d7;
}
