.text {
  line-height: 1.3;
  color: #374151;
  white-space: pre-wrap;
  font-size: var(--font-size-md);
  tab-size: 2;

  pre {
    line-height: 1.125;
    font-size: var(--font-size-sm);
  }

  @media all and (max-width: 769px) {
    font-size: 14px;
  }
}
