.prose {
	line-height: 1.3;
	color: #333;

	@media all and (max-width: 769px) {
		line-height: 1.125;
	}
}

.prose h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0;
}

.prose h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0;
}

.prose h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 1em 0;
}

.prose h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.33em 0;
}

.prose p {
	margin: 0.5em 0;

	@media all and (max-width: 769px) {
		margin: 0.2em 0;
	}
}

.prose strong {
	font-weight: bold;
}

.prose em {
	font-style: italic;
}

.prose u {
	text-decoration: underline;
}

.prose blockquote {
	border-left: 4px solid #ddd;
	padding-left: 1em;
	margin: 1em 0;
	color: #666;
}

.prose ul,
.prose ol {
	margin: 1em 0;
	padding-left: 2em;
}

.prose ul {
	list-style-type: disc;
}

.prose ol {
	list-style-type: decimal;
}

.prose pre {
	background: #222;
	border-radius: 8px;
	padding: 16px;
	overflow-x: auto;
	margin: 16px 0;
}

.prose code {
	background: #222;
	padding: 2px 4px;
	border-radius: 4px;
	font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
	color: #fff;
}

.prose pre code {
	background: none;
	padding: 0;
}

/* Стили для подсветки синтаксиса (если используете) */
.prose .hljs-keyword {
	color: #d73a49;
}
.prose .hljs-string {
	color: #528fd5;
}
.prose .hljs-function {
	color: #5b34a5;
}
.prose .hljs-comment {
	color: #6a737d;
}

.prose .hljs-attr {
	color: #4287d7;
}
