.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 50vh;
  font-size: 25px;
}

.title {
  font-size: 80px;
}

.link {
  color: #076ba9;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
